In [8]:
# Merging
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
print(df1)
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
print(df2)
df3 = pd.merge(df1, df2, on="city")
(df3)

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35
       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [9]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2
df3=pd.merge(df1,df2,on="city",how="inner")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65