In [1]:
# Pandas
import pandas as pd

In [7]:
form sklearn.datasets import load_diabetes.csv
diabetes_dataset=load_diabetes()
type(diabetes_dataset)
print(diabetes_dataset)

SyntaxError: invalid syntax (Temp/ipykernel_11720/3401668046.py, line 1)

In [13]:
import pandas as pd
lst=[1,2,3,4,5,6,7]
df = pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [19]:
import pandas as pd
data={'name':["varun","Hebbar","Varshini"],'std':[1,2,3],'Address':["weee","ewwetwt","wdfe"]}
df=pd.DataFrame(data)
print(df[['name','Address']])

       name  Address
0     varun     weee
1    Hebbar  ewwetwt
2  Varshini     wdfe

In [47]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
print(data)
type(data)

             Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
1                 85             66             29        0  26.6
8                183             64              0        0  23.3
1                 89             66             23       94  28.1
0                137             40             35      168  43.1
...              ...            ...            ...      ...   ...
10               101             76             48      180  32.9
2                122             70             27        0  36.8
5                121             72             23      112  26.2
1                126             60              0        0  30.1
1                 93             70             31        0  30.4

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
1                               0.351   31        0
8                               0.672   32        1
1                               0.167   21        0
0                               2.288   33        1
...                               ...  ...      ...
10                              0.171   63        0
2                               0.340   27        0
5                               0.245   30        0
1                               0.349   47        1
1                               0.315   23        0

[768 rows x 8 columns]

pandas.core.frame.DataFrame

In [48]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Glucose")
print(data)
data.head()

         Pregnancies  BloodPressure  SkinThickness  Insulin   BMI  \
Glucose
148                6             72             35        0  33.6
85                 1             66             29        0  26.6
183                8             64              0        0  23.3
89                 1             66             23       94  28.1
137                0             40             35      168  43.1
...              ...            ...            ...      ...   ...
101               10             76             48      180  32.9
122                2             70             27        0  36.8
121                5             72             23      112  26.2
126                1             60              0        0  30.1
93                 1             70             31        0  30.4

         DiabetesPedigreeFunction  Age  Outcome
Glucose
148                         0.627   50        1
85                          0.351   31        0
183                         0.672   32        1
89                          0.167   21        0
137                         2.288   33        1
...                           ...  ...      ...
101                         0.171   63        0
122                         0.340   27        0
121                         0.245   30        0
126                         0.349   47        1
93                          0.315   23        0

[768 rows x 8 columns]

,Pregnancies,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Glucose,,,,,,,,
148,6,72,35,0,33.6,0.627,50,1
85,1,66,29,0,26.6,0.351,31,0
183,8,64,0,0,23.3,0.672,32,1
89,1,66,23,94,28.1,0.167,21,0
137,0,40,35,168,43.1,2.288,33,1

In [32]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
first=data.loc[6]
second=data.loc[1]
print(first,"\n\n\n",second)

             Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
6                 92             92              0        0  19.9
6                144             72             27      228  33.9
6                 93             50             30       64  28.7
6                111             64             39        0  34.2
6                104             74             18      156  29.9
6                102             82              0        0  30.8
6                134             70             23      130  35.4
6                 85             78              0        0  31.2
6                 87             80              0        0  23.2
6                103             72             32      190  37.7
6                125             68             30      120  30.0
6                134             80             37      370  46.2
6                119             50             22      176  27.1
6                151             62             31      120  35.5
6                 80             66             30        0  26.2
6                194             78              0        0  23.5
6                105             70             32       68  30.8
6                124             72              0        0  27.6
6                137             61              0        0  24.2
6                102             90             39        0  35.7
6                107             88              0        0  36.8
6                154             78             41      140  46.1
6                166             74              0        0  26.6
6                154             74             32      193  29.3
6                  0             68             41        0  39.0
6                129             90              7      326  19.6
6                114              0              0        0   0.0
6                 91              0              0        0  29.8
6                114             88              0        0  27.8
6                125             76              0        0  33.8
6                 99             60             19       54  26.9
6                 92             62             32      126  32.0
6                108             44             20      130  24.0
6                109             60             27        0  25.0
6                103             66              0        0  24.3
6                123             72             45      230  33.6
6                 96              0              0        0  23.7
6                105             80             28        0  32.5
6                117             96              0        0  28.7
6                183             94              0        0  40.8
6                147             80              0        0  29.5
6                115             60             39        0  33.7
6                 98             58             33      190  34.0
6                165             68             26      168  33.6
6                195             70              0        0  30.9
6                125             78             31        0  27.6
6                 80             80             36        0  39.8
6                162             62              0        0  24.3
6                190             92              0        0  35.5

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
6                               0.188   28        0
6                               0.255   40        0
6                               0.356   23        0
6                               0.260   24        0
6                               0.722   41        1
6                               0.180   36        1
6                               0.542   29        1
6                               0.382   42        0
6                               0.084   32        0
6                               0.324   55        0
6                               0.464   32        0
6                               0.238   46        1
6                               1.318   33        1
6                               0.692   28        0
6                               0.313   41        0
6                               0.129   59        1
6                               0.122   37        0
6                               0.368   29        1
6                               0.151   55        0
6                               0.674   28        0
6                               0.727   31        0
6                               0.571   27        0
6                               0.304   66        0
6                               0.839   39        0
6                               0.727   41        1
6                               0.582   60        0
6                               0.189   26        0
6                               0.501   31        0
6                               0.247   66        0
6                               0.121   54        1
6                               0.497   32        0
6                               0.085   46        0
6                               0.813   35        0
6                               0.206   27        0
6                               0.249   29        0
6                               0.733   34        0
6                               0.190   28        0
6                               0.878   26        0
6                               0.157   30        0
6                               1.461   45        0
6                               0.178   50        1
6                               0.245   40        1
6                               0.430   43        0
6                               0.631   49        0
6                               0.328   31        1
6                               0.565   49        1
6                               0.177   28        0
6                               0.178   50        1
6                               0.278   66        1


              Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
1                 85             66             29        0  26.6
1                 89             66             23       94  28.1
1                189             60             23      846  30.1
1                103             30             38       83  43.3
1                115             70             30       96  34.6
...              ...            ...            ...      ...   ...
1                121             78             39       74  39.0
1                128             88             39      110  36.5
1                106             76              0        0  37.5
1                126             60              0        0  30.1
1                 93             70             31        0  30.4

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
1                               0.351   31        0
1                               0.167   21        0
1                               0.398   59        1
1                               0.183   33        0
1                               0.529   32        1
...                               ...  ...      ...
1                               0.261   28        0
1                               1.057   37        1
1                               0.197   26        0
1                               0.349   47        1
1                               0.315   23        0

[135 rows x 8 columns]

In [35]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
row1=data.iloc[0]
print(row1)

Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 6, dtype: float64

In [38]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.isnull()

   first_name  last_name   atr1   atr2   atr3
0       False      False  False   True  False
1       False      False  False  False   True
2       False      False  False  False  False
3       False      False   True   True  False

In [40]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.fillna(0)

  first_name last_name  atr1  atr2  atr3
0      varun      qwer   1.0   0.0  99.0
1     Hebbar     dfggg   2.0   7.0   0.0
2   Varshini     fggrr   3.0   9.0  88.0
3    Vishwas     grifg   0.0   0.0  77.0

In [41]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.dropna()

  first_name last_name  atr1  atr2  atr3
2   Varshini     fggrr   3.0   9.0  88.0

In [45]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
for i,j in df.iterrows():
    print(i,j)
    print()

0 first_name    varun
last_name      qwer
atr1            1.0
atr2            NaN
atr3           99.0
Name: 0, dtype: object

1 first_name    Hebbar
last_name      dfggg
atr1             2.0
atr2             7.0
atr3             NaN
Name: 1, dtype: object

2 first_name    Varshini
last_name        fggrr
atr1               3.0
atr2               9.0
atr3              88.0
Name: 2, dtype: object

3 first_name    Vishwas
last_name       grifg
atr1              NaN
atr2              NaN
atr3             77.0
Name: 3, dtype: object

In [46]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
print(df)

  first_name last_name  atr1  atr2  atr3
0      varun      qwer   1.0   NaN  99.0
1     Hebbar     dfggg   2.0   7.0   NaN
2   Varshini     fggrr   3.0   9.0  88.0
3    Vishwas     grifg   NaN   NaN  77.0

In [52]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.head()
data.shape

(768, 9)

In [56]:
import pandas as pd
import numpy as np
random_df=pd.DataFrame(np.random.rand(10,10))
print(random_df)

          0         1         2         3         4         5         6  \
0  0.418335  0.864149  0.762286  0.391352  0.345826  0.575400  0.634148
1  0.590778  0.571329  0.402198  0.691226  0.113163  0.491253  0.199164
2  0.075033  0.767945  0.597379  0.014136  0.642124  0.876383  0.667860
3  0.739180  0.198231  0.625417  0.815598  0.118114  0.234448  0.157744
4  0.158877  0.410525  0.881355  0.707056  0.988987  0.529490  0.097180
5  0.632971  0.467249  0.469032  0.495936  0.627422  0.097979  0.721340
6  0.388987  0.352143  0.769639  0.363681  0.832423  0.175071  0.231145
7  0.564629  0.582600  0.730664  0.708996  0.821556  0.661580  0.285291
8  0.384588  0.396952  0.300111  0.126121  0.251437  0.489432  0.827129
9  0.813147  0.164255  0.012108  0.415035  0.165404  0.984036  0.784447

          7         8         9
0  0.881628  0.063509  0.017845
1  0.870484  0.300440  0.311305
2  0.354235  0.083182  0.903104
3  0.309383  0.442264  0.418110
4  0.552659  0.504249  0.655890
5  0.220748  0.222858  0.621136
6  0.518862  0.446973  0.281675
7  0.454024  0.288545  0.778831
8  0.725007  0.831546  0.300967
9  0.580216  0.233249  0.708933

In [65]:
import pandas as pd
import numpy as np
n=10
data=pd.read_csv("diabetes.csv")
series=data["Glucose"]
data.head(12)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1

In [71]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [76]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.value_counts('Age')

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
52     8
44     8
50     8
51     8
58     7
54     6
47     6
53     5
60     5
49     5
57     5
48     5
66     4
62     4
63     4
55     4
59     3
56     3
65     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
dtype: int64

In [77]:
data.groupby('Age').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,1.079365,108.317460,65.936508,19.349206,73.634921,27.817460,0.433825,0.079365
22,1.555556,108.208333,63.722222,20.486111,74.486111,29.509722,0.430625,0.152778
23,1.578947,111.578947,64.315789,22.368421,118.026316,31.502632,0.438579,0.184211
24,1.891304,117.891304,64.956522,25.934783,88.021739,32.569565,0.393565,0.173913
25,1.770833,110.083333,59.666667,23.958333,82.895833,31.943750,0.600500,0.291667
26,1.969697,118.212121,64.181818,23.666667,90.878788,34.915152,0.413455,0.242424
27,2.562500,115.281250,73.500000,18.375000,63.125000,31.950000,0.471750,0.250000
28,3.028571,119.914286,68.314286,23.628571,94.600000,33.642857,0.459629,0.285714
29,3.310345,127.379310,68.241379,21.000000,88.793103,33.541379,0.408897,0.448276
30,3.619048,122.285714,64.857143,18.904762,82.666667,30.033333,0.367238,0.285714
31,3.875000,126.958333,64.375000,20.000000,111.166667,34.016667,0.589583,0.541667
32,4.437500,116.312500,70.062500,18.187500,35.812500,32.318750,0.613250,0.562500
33,4.058824,122.882353,65.647059,21.705882,85.588235,32.335294,0.734176,0.588235
34,5.857143,131.857143,74.000000,18.714286,148.071429,31.164286,0.649857,0.285714
35,5.000000,121.400000,75.600000,22.600000,75.000000,33.780000,0.454000,0.500000
36,5.187500,132.437500,69.125000,19.187500,65.812500,31.718750,0.472875,0.625000
37,5.263158,130.157895,75.947368,18.315789,59.263158,32.078947,0.414632,0.315789
38,6.875000,121.125000,71.125000,19.625000,33.500000,35.568750,0.413938,0.625000
39,7.416667,126.750000,72.666667,26.083333,72.416667,31.983333,0.605917,0.250000
40,6.230769,130.923077,69.230769,24.230769,72.307692,33.538462,0.376077,0.461538
41,6.500000,129.090909,67.590909,17.409091,38.818182,35.259091,0.396273,0.590909
42,6.888889,109.555556,73.388889,19.222222,61.277778,34.983333,0.388000,0.388889
43,7.769231,133.000000,78.461538,27.846154,125.153846,36.892308,0.450846,0.846154
44,7.250000,124.375000,61.750000,4.625000,32.250000,34.162500,0.668375,0.625000
45,7.333333,131.200000,83.066667,20.600000,31.133333,34.960000,0.496467,0.533333
46,6.384615,105.923077,76.000000,24.153846,112.307692,34.523077,0.426846,0.538462
47,8.333333,137.000000,78.333333,14.500000,49.166667,34.566667,0.355333,0.666667
48,8.800000,107.600000,78.400000,23.400000,52.000000,29.980000,0.456800,0.200000
49,7.600000,153.000000,81.400000,21.600000,55.200000,32.020000,0.612000,0.600000
50,6.750000,138.250000,78.250000,16.000000,26.375000,31.225000,0.470125,0.625000
51,8.625000,147.625000,84.500000,21.875000,129.375000,33.975000,0.615250,0.625000
52,4.625000,133.000000,81.500000,13.375000,94.500000,33.475000,0.505375,0.875000
53,5.400000,158.000000,79.000000,21.200000,183.000000,30.500000,0.550600,0.800000
54,7.000000,140.333333,89.333333,8.833333,61.000000,30.800000,0.465500,0.666667
55,5.500000,140.750000,70.250000,16.250000,83.750000,27.025000,0.226500,0.250000
56,8.000000,98.333333,76.333333,32.333333,69.000000,31.700000,0.936667,0.666667
57,8.800000,137.800000,76.800000,9.600000,78.000000,29.700000,0.704000,0.200000
58,7.142857,135.142857,78.285714,19.285714,167.857143,32.428571,0.554714,0.428571
59,2.333333,173.333333,74.000000,16.666667,282.000000,26.966667,0.252667,0.666667
60,6.000000,146.400000,80.000000,20.000000,164.200000,28.740000,0.436800,0.400000
61,5.500000,144.000000,76.000000,16.500000,95.000000,30.000000,0.613000,0.500000
62,3.750000,139.500000,71.500000,29.000000,0.000000,28.950000,0.565500,0.500000
63,5.500000,133.250000,78.000000,23.500000,45.000000,30.775000,0.249250,0.000000
64,8.000000,120.000000,78.000000,0.000000,0.000000,25.000000,0.409000,0.000000
65,3.333333,137.000000,78.666667,12.333333,0.000000,31.600000,0.259000,0.000000
66,5.000000,157.000000,86.000000,0.000000,0.000000,30.375000,0.408500,0.500000
67,4.000000,132.333333,72.666667,0.000000,0.000000,28.766667,0.602000,0.333333
68,8.000000,91.000000,82.000000,0.000000,0.000000,35.600000,0.587000,0.000000
69,5.000000,134.000000,81.000000,0.000000,0.000000,13.400000,0.413000,0.000000
70,4.000000,145.000000,82.000000,18.000000,0.000000,32.500000,0.235000,1.000000
72,2.000000,119.000000,0.000000,0.000000,0.000000,19.600000,0.832000,0.000000
81,9.000000,134.000000,74.000000,33.000000,60.000000,25.900000,0.460000,0.000000

In [78]:
data.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [79]:
data.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [80]:
data.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [81]:
data.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [82]:
data.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [83]:
 data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [125]:
data=pd.read_csv("diabetes.csv")
df=np.random.randint(1,768,(768,1))
data['price']=df.target
df.head

AttributeError: 'numpy.ndarray' object has no attribute 'target'

In [132]:
data=pd.read_csv("diabetes.csv")
data.drop(index=0,axis=0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [134]:
data=pd.read_csv("diabetes.csv")
data.drop(columns="Pregnancies",axis=1)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [137]:
data.iloc[1]

Pregnancies                  1.000
Glucose                     85.000
BloodPressure               66.000
SkinThickness               29.000
Insulin                      0.000
BMI                         26.600
DiabetesPedigreeFunction     0.351
Age                         31.000
Outcome                      0.000
Name: 1, dtype: float64

In [140]:
print(data.iloc[:,1])
print(data.iloc[:,-1])

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [141]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000