In [4]:
import pandas as pd
df=pd.read_csv("weather_by_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [16]:
import pandas as pd
df=pd.read_csv("weather_by_cities.csv")

In [33]:
df1=pd.melt(df,id_vars=["event"],var_name="day",value_name="date")
df1

     event          day      date
0     Rain          day  1/1/2017
1    Sunny          day  1/2/2017
2     Snow          day  1/3/2017
3    Sunny          day  1/4/2017
4    Sunny          day  1/1/2017
5      Fog          day  1/2/2017
6      Fog          day  1/3/2017
7     Rain          day  1/4/2017
8    Sunny          day  1/1/2017
9   Cloudy          day  1/2/2017
10  Cloudy          day  1/3/2017
11  Cloudy          day  1/4/2017
12    Rain         city  new york
13   Sunny         city  new york
14    Snow         city  new york
15   Sunny         city  new york
16   Sunny         city    mumbai
17     Fog         city    mumbai
18     Fog         city    mumbai
19    Rain         city    mumbai
20   Sunny         city     paris
21  Cloudy         city     paris
22  Cloudy         city     paris
23  Cloudy         city     paris
24    Rain  temperature        32
25   Sunny  temperature        36
26    Snow  temperature        28
27   Sunny  temperature        33
28   Sunny  temperature        90
29     Fog  temperature        85
30     Fog  temperature        87
31    Rain  temperature        92
32   Sunny  temperature        45
33  Cloudy  temperature        50
34  Cloudy  temperature        54
35  Cloudy  temperature        42
36    Rain    windspeed         6
37   Sunny    windspeed         7
38    Snow    windspeed        12
39   Sunny    windspeed         7
40   Sunny    windspeed         5
41     Fog    windspeed        12
42     Fog    windspeed        15
43    Rain    windspeed         5
44   Sunny    windspeed        20
45  Cloudy    windspeed        13
46  Cloudy    windspeed         8
47  Cloudy    windspeed        10